@import '../../assets/styles/global.scss';

.borderTop{
  border-top: 1px solid #e7d9d9;
  padding-top: 1.5rem;
}

.table, .itable {
  .overflow{
    height: 400px;
    overflow: auto;
  }

  .rTable {
    // display: flex;
    // flex-direction: column;
    // width: 100%;

    .rTableHeading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .rTableBody {
      display: flex;
      justify-content: space-between;
    }

    .rTableRow {
      display: flex;
      background: #fff;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 5px 0px;
      border-radius: 10px;
      box-shadow: 0px 3px 10px #00000029;
    }

    .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
    }

    .rTableCell,
    .rTableHead {
      flex: 1;
      padding: 1px 22px;
      align-self: center;
      font-size: 12px;
      font-weight: bold;
      color: #707070;
    }

    .rTableHead {
      text-align: center;
    }
    
    .rTableCell {
      color: $black;
      align-content: center;
        font-weight: 400;
      a {
        color: $black;
        font-weight: 400;
      }
    }
    .expand{
      height: 30px;
      width: 70px;
      border: 1px solid #0093E9;
      border-radius: 7px;
      font-size: 10px;
      padding: 2px 2px;
     
    }
     .badge{
    width: 65px;
    height: 20px;
    color: white;
    align-items: center;
     }
    .combine-data {
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: bold;
      
        color: #0093E9;
      
      
      .round-sign {
        margin-right: 10px;
        border-radius: 100%;
        background-color: #FFBCC4;
        font: Bold 11px Roboto;
        letter-spacing: 0px;
        height: 26px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}





.editTable {


  .square-box {
    width: 25px;
    height: 20px;
    background-color: $lightBlue;
    border-radius: 5px;
    margin-right: 5px;
  }
  .rTable {

    .input-group,
    .form-group {
      .react-date-picker__wrapper{
              border:none;
      }
     .react-datepicker__month-wrapper{
        height:30px;
        width:205px;
      }
    
    
      margin-bottom: 0;
      border-bottom: none;

     
      .form-field {
        border: none;
        font-size: 12px;
        color: black;
        :focus{
          box-shadow: none;
        }
      }
    }

    .rTableRow {
      padding: 0;

      .divider{
        font-size: 10px;
        color: black;
        

      }

      .rTableCell {
        border-right: 1px solid #d6d6d6;
        padding: 5px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &:last-child {
          border-right: none;
        }

        .form-group {
          flex-basis: 100%;

          .form-field {
            width: 100%;
            font-size: 12px;
          }
          
          .form-field1 {
            width:30%;
            font-size: 12px;
            border: none;
          }


        }
      }
    }
  }


}
  .cursorP{
    cursor: pointer;
  }
  .w-10{
    width: 10vw;
    align-self: center;
    text-align: center;
  }
  .w-20{
    width: 20vw;
    align-self: center;
    text-align: center;
  }
  .w-15{
    width: 15vw;
    align-self: center;
    text-align: center;
  }
  .inp-grp input, .inp-grp input:focus, input:disabled{
    border: none;
    text-align: center;
    background-color: white !important;
  }
  .inp-grp input::placeholder{
      // color: red !important;
      opacity: 0.5;
    }
  .txtColor{
    color: #707070;
  }
  .txtBlue{
    color: #0093e9;
  }
  .del-pad{
    padding: 0.7rem 0.4rem;
    
  }


/* .btn{
      width: 60px;
      height: 30px;
      font:8px/14px $roboto;
      letter-spacing: 0px;
    }
    .btn:hover{
      background-color: none;
    } */