@import '../../assets/styles/global.scss';


.verifyinventory {
  padding-left: 5rem;
  padding-right: 3rem; 
  
  
  ul {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;

    li {
      padding: 0.3rem 0.3rem;
      margin:0.3rem;
      list-style: none;
    }
}


.head{
    
  text-align: left;
  font: Bold 18px/13px Roboto;
  letter-spacing: 0px;
  color: #0B65C1;
  opacity: 1;
}
.btn{
 
  border-radius: 10px;
}

  .total{
    color: $OBBlue;
    font:  25px/13px $roboto;
   
  }
  .value{
    color: $black;
    font:  25px/13px $roboto;
  }

  .bold{

    font-weight: bold;
  }

  .opacityHalf{
    opacity: 0.5;
  }

  hr {
    border-width: 0.5px;
  }
}


.inventorypopup{

  .data{
    font: Regular 20px/33px Roboto;
     color: #707070;


  }


  .alert{
    font: Bold 25px/33px Roboto;
    color: #000000;
}



}