@import "../../assets/styles/global.scss";

.trackTrace {
  padding-right: 3rem;
  padding-left: 5rem;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .full-width-ribben {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $eeGrey;
    @media screen and (max-width: 768px) {
      position: unset;
    }

    .row {
      margin-left: 9rem;
      @media screen and (max-width: 768px) {
        margin-left: 0;
        flex-direction: column;
      }
    }
  }

  .ribben-space {
    margin-top: 8rem;
    
    .heading{
      font-size: 23px/13px;
      letter-spacing: 0px;
      color: #4D4F5C;
      font-weight:600;
    }

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }
  }

  .filter {
    display: flex;
    flex-basis: 60%;
  }

  .search-form {
    width: 60%;
    position: relative;

    .search-icon {
      position: absolute;
      right: 6px;
      top: 8px;
      width: 25px;
    }

    .allfilterbtn {
      display: flex;
      justify-content: space-around;
      flex-basis: 80%;
      align-items: center;

      img {
        width: 9px;
        height: 9px;
      }
    }

    .search-field {
      height: 40px;
      background: $white;
      box-shadow: 0px 1px 3px $lightGrey;
      border-radius: 8px;
      padding: 0 0 0 9rem;
      font-size: 16px;
    }

    .floated {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      height: 40px;
      bottom: 0;
      width: 20%;
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 0;
      justify-content: space-around;
      cursor: pointer;
    }
  }

  .bg-grey {
    background-color: $eeGrey;
    margin-left: -3.556689rem !important;
  }

  .divider {
    height: 70px;
    border: 1px solid $d6Grey;
    display: flex;
    align-self: center;
  }

  .panel {
    background: $eeGrey;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $d6Grey;
    @media screen and (max-width: 768px) {
      border-right: none;
      justify-content: flex-start;
    }

    .picture {
      width: 52px;
      height: 52px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 11px;
      display: none;

      @media (min-width: 1280px) {
        display: flex;
      }
      @media (min-width: $xl) {
        display: flex;
        width: 60px;
        height: 60px;
      }

      img {
        width: 52px;
        height: 26px;
      }

      &.truck-bg {
        background: $white;
      }
    }


    .title {
      font-size: 8px;
      line-height: 12px;
      font-weight: bold;
      color: #707070;
      @media (min-width: $xl) {
        font-size: 12px;
      }
    }

    .count {
      font-size: 26px;
      color: $primaryBlue;
      font-weight: bold;
    }

    .dayStatus {
      font-size: 9px;
      align-self: flex-end;
      color: $black;
    }

    &:after {
      border: 1px solid $lightGrey;
      height: 50px;
    }
  }
}
