@import '../../assets/styles/global.scss';

.dashbar {
  background: transparent linear-gradient(180deg, $white 0%, $white 100%) 0% 0% no-repeat padding-box;
  box-shadow: 5px 0px 10px 10px #00000029;
  border-radius: 0px 0px 0px 0px;
  height: calc(100vh - 80px);
  color: $white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0 20px;
  z-index: 9;
  top: 80px;
  right: 0;
  width: 23vw;
  
 @media screen and (max-width: 768px) {
    display: none;
  }
   img{
     float: right;
   }
   .dashsearch{
    width:270px;
   }
   .font-size-one{
     font-size: 1rem;
   }
   .text-primary{
     font-size: 0.8rem;
   }
   .inventoryDashboard{
    // height:350px;
    overflow:auto;
   }
   .custom-dropdown .btn-custom-dropdown{
     justify-content: space-between !important;
     span{
       margin-right: 1rem;
       font-size: 14px;
     }
   }
.mainsearchwarehouse{
  // height:450px;
  overflow:auto;
}
    .searchpanel {
      box-shadow: 0px 3px 6px $grey;
      border-radius: 12px;
      background: transparent linear-gradient(180deg, #0093E9 0%, #0053A8 100%) 0% 0% no-repeat padding-box;
      flex-basis: auto;
      padding: 20px 20px 10px 20px;

      
      ul {
        padding: 0;
        margin: 0;
    
        li {
          list-style: none;
          font-size: 12px;
    }
  }
}

  .address{
      background: transparent linear-gradient(246deg, 	$white 0%, $white 100%) 0% 0% no-repeat padding-box;
      color:black;
      font-size: 11px;
      & h6{
        font-size: 0.8rem;
      }
}

.prodpanel{
  padding: 8px 20px 10px 20px;
  .subprod{
    border-bottom: 1px solid #d6d6d6;
  }
}

.prod{
  color:#707070;
  font-size: 11px;
}

.sho{
  float:right;
  height: 30px;
  width: 70px;
  border: 1px solid #0093E9;
  border-radius: 7px;
  font-size: 10px;
  padding: 2px 2px;
 

}
.bod{
  border-bottom: 0.01px solid #707070;

}
.region{
  border-bottom: 1px solid #d6d6d6;
}

.searchwarehouse{
  border-left: 6px solid #0093E9;;
  border-radius: 5px;
  padding: 10px 20px 2px 20px;
}
.form-group{
      display: flex;
      margin-bottom: 0.1rem;
      
      label {
        color: #707070;
        text-align: center;
        font-size: 14px;
         }
         .countr{
           margin-right: 2.75rem;
         }
  
     .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color:#000000;
        font-size: 14px;
        padding-left: 0;
        
      }
      .custom-dropdown .btn-custom-dropdown{
        font-size:13px;
        color:#000000;
        @media (max-width: 1250px) {
          font-size:14px;
          color:#000000;
        }
      }
  
      
    }
}