@import '../../assets/styles/global.scss';

.sidebar {
  background: #0B65C1;
  box-shadow: 5px 0px 10px #00000029;
  border-radius: 20px 20px 20px 20px;
  height: calc(100vh - 80px);
  width: 130px;
  //color: #999999;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px 0px 0 16px;
  z-index: 9;
  top: 80px;
  
  @media screen and (max-width: 768px) {
    display: none;
  }


  ul {
    padding: 0;
    margin: 4px;
    
    // text-align: left;
    // list-style-type: none;

    li {
      list-style: none;
      margin-bottom: 1.4rem;
      color: #ffffff;
      // padding: 3px;
      

      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        //padding: 0;
        color: white;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 2px;
        font-size: 20px;
        
      }

      &.active {
      
        color:white;
        cursor: default;
        position: relative;
        right: 10px;
        background-color: #084787;
        display: inline-block;
        font-size: 20px;
        border-radius: 10px 10px 10px 10px;
        //width: 110px;
        padding: 3px 0px 0px;
        height: 40px;
        width: 105px;
        padding-left: 8px;
        //text-align:left;


 
        &:after {
          content: "";
          width: 0px;
          height: 0;
          //background-color: #FFFFFF;
          position: absolute;
          right: -20px;
          top: -8px;
          border-radius: 0px 0 0 0px;
        }
      }

      span {
        font-size: 11px;
      }

      img {
        width: 15px;

      }
    }
  }
}