@import "../../assets/styles/global.scss";

.custom-dropdown {
  flex-basis: 100%;
  display: flex;
  outline: none;
  position: relative;
  small {
    color: $a8Grey;
  }
  .btn-custom-dropdown {
    border: none;
    display: flex;
    justify-content: left !important;
    width:100%;
    color:#A8A8A8;
    flex-basis: 100%;
    outline: none;
    align-items: center;
    font-size: 15px;
    
    position: absolute;
    background: transparent;
    &.active {
      color: $primaryBlue;
    }
    .textNeg{
      margin-top: -1.15rem;
    }
  }
  .btn-custom-dropdown img{
    position: absolute;
    right: 0;
  }
  .btn-custom-dropdown1 {
    border: none;
    display: flex;
    justify-content: space-between;
    color:black;
    flex-basis: 100%;
    outline: none;
    align-items: center;
    font-size: 16px;
    background: transparent;
    &.active {
      color: $primaryBlue;
    }
    .textNeg{
      margin-top: -1.15rem;
    }
  }
  .dropdown-menu {
    height:180px;
    overflow: auto;
    box-shadow: 0px 3px 10px $grey;
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
    .dropdown-item {
      padding: 0;
      clear: both;
      font-size: 14px;
      cursor: pointer;
    }
    hr {
      border-width: 0.5px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .transform-group {
    position: absolute;
    transform: translate3d(0px, 38px, 0px);
    top: 0;
    left: -16px;
    right: -15px;
    will-change: transform;
  }
 
}
