@import '../../assets/styles/global.scss';

footer {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 8px;
  position: fixed;
  bottom: -1.6rem;
  align-self: center;
  margin-right: 25px;

  p {
    margin-bottom: -6px;
    padding: 3px;
  }

  .footer-branding {
    display: flex;
    margin-top: .2rem;

    img {
      width: 80px;
      height: 20px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: 768px){
      width: 150px;
    }

    h1 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1.9px;
      text-transform: uppercase;

      &:last-child {
        color: $black;
      }
    }
  }
}