@import "../../assets/styles/global.scss";

.summaryTable {
  display: flex;
  .rowData {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    & > div {
      margin-bottom: 15px;
      text-align: left;
      margin-right: 5px;
      font-size: 10px;
      color: #000000;
      @media (min-width: $xl) {
        font-size: 11px;
      }
    }

    .headline {
      text-align: center;
      font-weight: 400;
      height: 6vh;
      background-color: #f5f1f1;
      // margin: 0;  
      margin-right: 0;
    }

    .combine-data {
      position: relative;
      left: 30%;
      display: flex;
      text-align: center;
      word-break:break-word;
      a {
        color: #0093e9;
        font-size: 9px;
        @media (min-width: $xl) {
          font-size: 11px;

}        }

 .status[target=RECEIVED]{
                                background: #28a745 0% 0% no-repeat padding-box;
                                color: #ffffff;
                                padding: 3px 10px;
                                border-radius: 7px;
                        }


                        .status[target=CREATED]  {
                                background: #007bff 0% 0% no-repeat padding-box;
                                padding: 3px 12px;
                                border-radius: 7px;
                                color: #ffffff;
                        }

      .round-sign {
        border-radius: 4px;
        margin-right: 15px;
      }
    }

    @media screen and (min-width: 1300px) {
        flex: 1;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

}

.sm-only {
  display: none !important;
  @media screen and (max-width: 768px) {
    display: flex !important;
  }
}
